{{!-- Formulaire qui récupère le contenu de la barre de recherche, et sera récupéré par la requête SQL --}}

<input type="text" id="input-search" name="search" value="{{search}}" />
<input type="submit" id="button-search" value="Chercher" />


{{!-- Table qui affichera les résultats de la requête --}}
<table>
    <thead>
        <tr>
            <td>Code</td>
            <td>Nom</td>
            <td>Prix</td>
        </tr>
    </thead>
    <tbody id="table-body">
        {{!-- Intégration des résultats et boucle pour la requête --}}
        {{#each products}}
        <tr>
            <td>{{this.productCode}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.buyPrice}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>



<script id="template-products" type="text/x-handlebars-template">

</script>